body {
  overflow-x:hidden;
}

.dz-clicable {
    cursor: pointer;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    padding: 54px 54px;
}

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF;
    /* A background-color is required */
    min-height: 100vh;
}

.slideout-open, .slideout-open body, .slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

.main:before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s ease-in-out;
}

.main-open:before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
}

.nav-btn-perso {
    position: fixed;
    margin-right: 0px;
    right: 10px;
}
